@import url("https://fonts.googleapis.com/css?family=Karla:400|Cardo:400");
body {
  color: #212121;
  text-align: center; }

img {
  max-width: 100%; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 700px;
  background: #fff;
  border: 1px solid #212121;
  box-shadow: 0px 15px 0px 5px #212121; }

h1 {
  padding: 2rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif; }

p,
span,
a,
label,
input,
button {
  font-family: "Karla", sans-serif; }

a {
  color: #212121; }

nav {
  position: fixed;
  top: 1.5rem;
  right: 2rem; }
  nav li {
    list-style: none;
    text-align: right; }
    nav li a {
      text-decoration: none; }
      nav li a:hover {
        text-decoration: line-through; }

@media screen and (max-width: 700px) {
  nav {
    background: #fff;
    width: 100%;
    padding: 1rem 0;
    right: 0;
    top: 0;
    box-shadow: 0px 2px 10px 0px #212121; }
    nav li {
      display: inline; }
      nav li a {
        margin: 1rem; }
  h1 {
    margin-top: 5rem; } }

#posts div {
  border-bottom: 1px solid #212121;
  margin: 1rem 0;
  padding: 3rem 2rem 2rem 2rem;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  transition: all 0.6s; }
  @media screen and (max-width: 700px) {
    #posts div {
      padding: 1.5rem 2rem 2rem 2rem; } }
  #posts div:last-of-type {
    border-bottom: none; }
  #posts div .post-name {
    text-align: right; }
    #posts div .post-name::before {
      content: "- "; }
  #posts div .post-text {
    text-align: center;
    font-style: italic; }
    #posts div .post-text::after, #posts div .post-text::before {
      content: '"'; }

#bio {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 700px) {
    #bio {
      display: block;
      padding-top: 0.25rem; } }
  #bio p {
    text-align: left;
    margin: 2rem; }

#bio-more {
  border-top: 1px solid #212121;
  background: #fff;
  padding: 2rem;
  margin-top: 3rem; }

#test-form {
  padding: 2rem 0; }
  #test-form .form-group {
    max-width: 700px; }
  #test-form label {
    display: block;
    padding-right: 18.5rem;
    padding-bottom: 0.25rem;
    font-weight: bold; }
  #test-form input {
    border: 1px solid #212121;
    font-size: 1rem;
    padding: 0.5rem;
    width: 20rem;
    font-style: italic; }
    #test-form input:focus {
      background: honeydew; }
    #test-form input:first-of-type {
      margin-bottom: 1rem; }
  @media screen and (max-width: 700px) {
    #test-form label {
      text-align: left; }
    #test-form input {
      width: 100%; } }
  #test-form button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #212121;
    border: 1px solid #212121;
    transition: all 0.2s; }
    #test-form button:hover {
      background: #fff;
      color: #212121; }

#footer {
  max-width: calc(700px + 2rem + 12px);
  margin: -5px auto 2rem auto;
  background: #212121;
  padding: 1rem; }
  @media screen and (max-width: calc(700px + 4rem + 24px)) {
    #footer {
      margin: -5px; } }
  #footer p,
  #footer a {
    color: #fff;
    text-decoration: none; }
