//
// About
//

#bio {
  background: $foreground;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: $width) {
    display: block;
    padding-top: 0.25rem;
  }
  p {
    text-align: left;
    margin: 2rem;
  }
}

#bio-more {
  border-top: 1px solid $fontcolor;
  background: $foreground;
  padding: 2rem;
  margin-top: 3rem;
}
