//
// Global
//

body {
  // background: $background; // Now is inline on each page
  color: $fontcolor;
  text-align: center;
}

img {
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: $width;
  background: $foreground;
  border: 1px solid $fontcolor;
  box-shadow: 0px 15px 0px 5px $fontcolor;
}

h1 {
  // Should only be the title of the page
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
}

p,
span,
a,
label,
input,
button {
  font-family: "Karla", sans-serif;
}

a {
  color: $fontcolor;
}
