//
// Navigation
//

nav {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  li {
    list-style: none;
    text-align: right;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: line-through;
      }
    }
  }
}

@media screen and (max-width: $width) {
  nav {
    background: $foreground;
    width: 100%;
    padding: 1rem 0;
    right: 0; //reset
    top: 0; // reset
    box-shadow: 0px 2px 10px 0px $fontcolor;
    li {
      display: inline;

      a {
        margin: 1rem;
      }
    }
  }
  h1 {
    margin-top: 5rem;
  }
}
