//
// Submit
//

#test-form {
  padding: 2rem 0;
  .form-group {
    max-width: $width;
  }
  label {
    display: block;
    padding-right: 18.5rem;
    padding-bottom: 0.25rem;
    font-weight: bold;
  }
  input {
    border: 1px solid $fontcolor;
    font-size: 1rem;
    padding: 0.5rem;
    width: 20rem;
    font-style: italic;
    &:focus {
      background: honeydew;
    }
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: $width) {
    label {
      text-align: left;
    }
    input {
      width: 100%;
    }
  }
  button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: $foreground;
    background: $fontcolor;
    border: 1px solid $fontcolor;
    transition: all 0.2s;
    &:hover {
      background: $foreground;
      color: $fontcolor;
    }
  }
}
