//
// Imports and Variables
//

@import url("https://fonts.googleapis.com/css?family=Karla:400|Cardo:400");

$background: gold;
$foreground: #fff;
$fontcolor: #212121;
$width: 700px;

//
// Global
//

body {
  // background: $background; // Now is inline on each page
  color: $fontcolor;
  text-align: center;
}

img {
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: $width;
  background: $foreground;
  border: 1px solid $fontcolor;
  box-shadow: 0px 15px 0px 5px $fontcolor;
}

h1 {
  // Should only be the title of the page
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
}

p,
span,
a,
label,
input,
button {
  font-family: "Karla", sans-serif;
}

a {
  color: $fontcolor;
}

//
// Navigation
//

nav {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  li {
    list-style: none;
    text-align: right;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: line-through;
      }
    }
  }
}

@media screen and (max-width: $width) {
  nav {
    background: $foreground;
    width: 100%;
    padding: 1rem 0;
    right: 0; //reset
    top: 0; // reset
    box-shadow: 0px 2px 10px 0px $fontcolor;
    li {
      display: inline;

      a {
        margin: 1rem;
      }
    }
  }
  h1 {
    margin-top: 5rem;
  }
}

//
// Blog posts
//

#posts {
  div {
    border-bottom: 1px solid $fontcolor;
    margin: 1rem 0;
    padding: 3rem 2rem 2rem 2rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transition: all 0.6s;
    @media screen and (max-width: $width) {
      padding: 1.5rem 2rem 2rem 2rem; // reset
    }
    &:last-of-type {
      border-bottom: none;
    }
    .post-name {
      text-align: right;
      &::before {
        content: "- ";
      }
    }
    .post-text {
      text-align: center;
      font-style: italic;
      &::after,
      &::before {
        content: '"';
      }
    }
  }
}

//
// About
//

#bio {
  background: $foreground;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: $width) {
    display: block;
    padding-top: 0.25rem;
  }
  p {
    text-align: left;
    margin: 2rem;
  }
}

#bio-more {
  border-top: 1px solid $fontcolor;
  background: $foreground;
  padding: 2rem;
  margin-top: 3rem;
}

//
// Footer
//

#footer {
  max-width: calc(#{$width} + 2rem + 12px);
  margin: -5px auto 2rem auto;
  background: $fontcolor;
  padding: 1rem;
  @media screen and (max-width: calc(#{$width} + 4rem + 24px)) {
    margin: -5px;
  }
  p,
  a {
    color: $foreground;
    text-decoration: none;
  }
}

//
// Submit
//

#test-form {
  padding: 2rem 0;
  .form-group {
    max-width: $width;
  }
  label {
    display: block;
    padding-right: 18.5rem;
    padding-bottom: 0.25rem;
    font-weight: bold;
  }
  input {
    border: 1px solid $fontcolor;
    font-size: 1rem;
    padding: 0.5rem;
    width: 20rem;
    font-style: italic;
    &:focus {
      background: honeydew;
    }
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: $width) {
    label {
      text-align: left;
    }
    input {
      width: 100%;
    }
  }
  button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: $foreground;
    background: $fontcolor;
    border: 1px solid $fontcolor;
    transition: all 0.2s;
    &:hover {
      background: $foreground;
      color: $fontcolor;
    }
  }
}
