@import url("https://fonts.googleapis.com/css?family=Karla:400|Cardo:400");

$background: #f4f4f4;
$foreground: #fff;
$fontcolor: #212121;

body {
  background: $background;
  color: $fontcolor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
}

p,
span,
a {
  font-family: "Karla", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  div {
    background: $foreground;
    padding: 2rem;
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
