//
// Imports and Variables
//

@import url('https://fonts.googleapis.com/css?family=Karla:400|Cardo:400');

// $background: gold; // should be a CSS variable, so it can change depending on the page
$foreground: #fff;
$fontcolor: #212121;
$width: 700px;
